<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="true" />
    </system.web>
    <location path="AuthenticationDatabase.mdf">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
</configuration>
